@mixin center{
	margin-left: 50%;
	transform: translateX(-50%);
}
@mixin background{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
@mixin center-both{
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	position: absolute;
}