$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

$base-font:		'Lato', sans-serif;
$ico-font:		'FontAwesome';

$white:			#fff;
$black:			#000;
$base:			#21201f;
$alt:			#777777;
$gray:			#cccccc;

$light:			300;
$normal:		400;
$bold:			700;
$xbold:			800;

$nav-bar-height:	60px;